@font-face {
    font-family: 'Georgia-bold';
    src: url('../fonts/Georgia-Bold.eot');
    src: url('../fonts/Georgia-Bold.ttf');
    src: url('../fonts/Georgia-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.eot');
    src: url('../fonts/Georgia.ttf');
    src: url('../fonts/Georgia.woff');
    font-weight: 400;
}