.feedback {
    padding: 100px 0;
    background-image: url('../img/s-free_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    &__dialog {
        max-width: 700px;
        min-height: auto;
        padding: 20px 40px;
        &-title {
            font-family: 'Georgia-bold',sans-serif;
            font-weight: 700;
            font-size: 40px;
            color: $mainColor;
            margin-bottom: 30px;
        }
        &-subtitle {
            font-family: 'Georgia',sans-serif;
            font-weight: 400;
            font-size: 30px;
            color: $darkColor;
            margin-bottom: 30px;
        }
    }
    &__checkbox {
        max-width: 600px;
    }
}