.helps {
    padding: 100px 0;
    &__title {
        width: 400px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 60px;
    }
    &__item {
        max-width: 500px;
        height: 120px;
        box-shadow: 20px 20px 40px $darkColor;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 10px;
        padding: 20px 20px;
        &-icon {
            width: 30px;
            height: 30px;
        }
        &-title {
            font-family: 'Georgia-bold';
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: $darkColor2;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        &-link {
            font-family: 'Georgia';
            font-family: 400;
            font-size: 16px;
            line-height: 120%;
            color: $mainColor;
            border-bottom: 2px solid $mainColor;
        }
    }
    &__info {
        font-family: 'Georgia';
        font-family: 400;
        font-size: 20px;
        line-height: 120%;
        color: $darkColor2;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        border-top: 2px dashed $mainColor;
        padding-top: 40px;
    }
}