.suggestion {
    padding: 100px 0;
    background-image: url('../img/s-steps.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    &__title {
        width: 800px;       
        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 300px;
            height: 3px;
            background-color: $mainColor;
        }   
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: repeat(2,auto);
        grid-auto-rows: 2 auto;
        column-gap: 30px;
        row-gap:80px;
    }
    &__item {
        padding: 20px 40px;
        &-title {
        font-family: 'Georgia-bold', sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: $mainColor;
        border-radius: 100%;
        padding: 20px;
        width: 150px;
        border: 1px solid $mainColor;
        span {
            font-size: 20px;
        }
        }
        &-subtitle {
            font-family: 'Georgia-bold', sans-serif;
            font-weight: 700;
            font-size: 30px;
            color: $darkColor;
            margin-bottom: 30px;
        }
        &-descr {
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: $darkColor;
        }
    }
 
}